div {
    float: left;
}

#block1 { /*# car référence a un id */
    background: #2ECC71; /*On oublie pas le ; */
    width: 80%;
    height: 40px;
}

#block2 {
    background: #2980B9;
    width: 20%;
    height: 40px;
}

#block3 {
    background: #E74C3C;
    width: 34%;
    height: 120px;
}

#block4 {
    background: #E67E22;
    width: 33%;
    height: 60px;
}

#block5 {
    background: #95A5A6;
    width: 33%;
    height: 60px;
}

#block6 {
    background: #F39C12;
    width: 22%;
    height: 60px;
}

#block7 {
    background: #16A085;
    width: 22%;
    height: 60px;
}

#block8 {
    background: #D35400;
    width: 22%;
    height: 60px;
}

#block9 {
    background: #2C3E50;
    width: 100%;
    height: 160px;
}
